html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  font-family: "Roboto Slab", serif;
}

.header-info {
  float: right;
  flex-wrap: wrap;
}

.header-info h1 {
  margin-top: 40px;
}

.header-info h4 {
  margin-top: 5px;
}

.portfolio-logo {
  padding-top: 25px;
  margin: 0;
  width: 12%;
}

.portfolio-author {
  float: right;
  margin-top: 35px;
  margin-bottom: 0;
}

.author-role {
  float: right;
}

hr {
  border-bottom: 4px solid #7d97ad;
}

.personal-photo {
  border-radius: 50%;
  width: 100%;
  max-width: 100%;
  padding: 1.5em;
}

.bio-description {
  padding: 1.5em;
  font-size: 16px;
}

section {
  margin-bottom: 40px;
}

.featured-work-title {
  margin-top: 40px;
}

.featured-work-title h2 {
  color: #7d97ad;
}

.featured-work {
  text-align: center;
}

article {
  padding: 1.5em;
}

article picture {
  cursor: pointer;
  max-width: 100%;
}

article a {
  min-width: 48px;
  min-height: 48px;
}

.featured-work h3 {
  font-size: 22px;
}

.social-medias {
  margin: 0 auto;
  padding: 1.5em 0;
  background-color: #e2e5ea;
  border-radius: 10px;
}

.social-medias i {
  font-size: 3em;
  color: grey;
}

.fa-github:hover {
  color: black;
}

.fa-twitter-square:hover {
  color: #00aced;
}

.fa-linkedin-square:hover {
  color: #007bb6;
}

.fa-facebook-square:hover {
  color: #3b5998;
}

.copyright {
  padding: 0.5em 0;
  font-size: 1.3em;
  text-align: center;
  margin: 0 auto;
}

@media only screen and (min-width: 300px) {
  .header-info h1 {
    font-size: 1.6em;
    margin-right: calc(100vw/2 - 42%);
    margin-top: 1em;
  }

  .header-info h4 {
    font-size: 0.9em;
    margin-right: 5.5em;
  }

  .portfolio-logo {
    width: 9em;
    margin: -1em calc(100vw/2 - 22%);
  }

  .personal-photo {
    width: 70%;
    margin: 0 auto;
    margin-top: -30px;
  }

  .featured-work-title {
    margin-top: -10px;
    text-align: center;
  }

  .featured-work-title h2 {
    font-size: 1.4em;
  }

  .featured-work h3 {
    font-size: 1.1em;
  }

  .social-medias {
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
  }

  .copyright {
    font-size: 1em;
  }
}

@media only screen and (min-width: 360px) {
  .header-info h1 {
    font-size: 1.6em;
    margin-top: 1em;
    margin-right: calc(100vw/2 - 38%);
  }

  .header-info h4 {
    font-size: 0.9em;
    margin-right: 6.7em;
  }

  .portfolio-logo {
    width: 10em;
    margin: -1em 8em;
  }

  .personal-photo {
    width: 70%;
    margin: 0 auto;
    margin-top: -30px;
  }
}

@media only screen and (min-width: 375px) {
  .header-info h1 {
    margin-right: calc(100vw/2 - 35%);
  }

  .header-info h4 {
    margin-right: 7.7em;
  }

  .portfolio-logo {
    width: 40%;
    margin: -1em calc(100vw/2 - 20%);
  }

  .featured-work {
    width: 370px;
    margin-right: auto;
    margin-left: auto;
  }

  .social-medias {
    justify-content: center;
  }
}

@media only screen and (min-width: 400px) {
  .header-info h1 {
    margin-right: calc(100vw/2 - 32%);
  }

  .header-info h4 {
    margin-right: 9em;
  }

  .portfolio-logo {
    width: 40%;
    margin: -1em calc(100vw/2 - 20%);
  }
}

@media only screen and (min-width: 430px) {
  .header-info h1 {
    margin-top: -2em;
    margin-right: 0;
  }

  .header-info h4 {
    margin-top: -1.5em;
    margin-right: 0;
  }

  .portfolio-logo {
    width: 8em;
    margin-left: 0;
  }

  .featured-work {
    width: 390px;
    margin-right: auto;
    margin-left: auto;
  }

  .featured-work-title h2 {
    font-size: 1.7em;
  }

  .featured-work h3 {
    font-size: 1.3em;
  }

  .social-medias {
    padding: 1.3em 0;
  }

  .copyright {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 530px) {
  .header-info h1 {
    font-size: 30px;
    margin-top: -2.5em;
  }

  .header-info h4 {
    font-size: 15px;
    margin-top: -2.3em;
  }

  .portfolio-logo {
    width: 10em;
    margin-left: 0;
  }

  .personal-photo {
    width: 40%;
    border-radius: 50%;
    float: left;
    padding-top: 2.2em;
  }

  .photo-reference span {
    display: none;
  }

  .photo-reference:after {
    content: "Hi! I'm Laércio (the smiley guy in the photo on the left). I am a Front-End Web developer. I've started to play around and work with web development about 2+ years ago. Since then I've get involved in a bunch of projects working on development of web components and web aplications as a whole, and sometimes doing some testing as well. During all this time I've used some tools and technologies that helped me to achieve the desired results in a more feasible way. Some of those tools were: the Angular framework, versions 1.x and 4, languages and technologies such as HTML5, CSS3, JavaScript, the Twitter Bootstrap framework, and some other tools.";
  }
}

@media only screen and (min-width: 992px) {
  [class*="col-md-4"] {
    width: 33%;
  }

  .header-info h1 {
    font-size: 35px;
    margin-top: 1em;
  }

  .header-info h4 {
    font-size: 18px;
    margin-top: 0.5em;
  }

  .portfolio-logo {
    width: 12em;
    margin-right: 0;
  }

  .personal-photo {
    width: 100%;
    border-radius: 10%;
    height: 25em;
    padding: 1.5em 0;
    margin-top: -16.5em;
  }

  .featured-work-title {
    text-align: inherit;
  }

  .featured-work-title h2 {
    font-size: 1.8em;
  }

  .featured-work h3 {
    font-size: 1.4em;
  }

  .social-medias {
    display: flex;
    padding: 1.5em 0;
  }

  .copyright {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 1200px) {
  .header-info {
    padding-bottom: 50px;
    width: 40%;
  }

  .bio {
    margin-left: -2.5em;
  }

  .personal-photo {
    width: 80%;
    margin-left: 25px;
    border-radius: 10%;
    height: 25em;
  }

  .bio-description {
    padding: 1.5em 0;
  }
}
