html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/** {
  border: 1px solid red;
}*/

.header-info {
  float: right;
  flex-wrap: wrap;
}

.header-info h1 {
  margin-top: 40px;
}

.header-info h4 {
  margin-top: 5px;
}

.portfolio-logo {
  padding-top: 25px;
  margin: 0;
}

.portfolio-author {
  float: right;
  margin-top: 35px;
  margin-bottom: 0px;
}

.author-role {
  float: right;
}

hr {
  border: none;
  height: 4px;
  color: #7d97ad;
  background-color: #7d97ad;
}

.personal-photo {
  border-radius: 50%;
  width: 250px;
}

.featured-work-title {
  margin-top: 30px;
}

.featured-work-title h2 {
  color: #7d97ad;
}

.featured-work h3 {
  text-align: center;
}

.featured-work a {
  margin: 0 auto;
}

.link {
  text-align: center;
}
